{% load humanize %}

<div class="comment">
    <!-- Profile Picture -->
    <img src="{{ comment.author.profile.picture.url }}" alt="Profile" class="avatar">

    <!-- Comment Content -->
    <div class="comment-body">
      <a href="{% url 'profile' comment.author.username %}" class="username">
        {{ comment.author.first_name }} {{ comment.author.last_name }}
      </a>
      <p class="text">{{ comment.comment }}</p>

      {% if comment.image %}
        <img src="{{ comment.image.url }}" alt="" style="width:200px; height:200px; border-radius:8px;">
      {% endif %}

      {% if comment.file %}
        <audio controls>
          <source src="{{ comment.file.url }}" type="audio/webm">
        </audio>
      {% endif %}

     <p class="channel-name"><i id="icon" class="far fa-clock"></i>{{comment.created_at|naturaltime}} &bull;  
            <span id="comment_like-{{comment.comment_id}}">
                {% include 'snippet/comment_like.html' %}
            </span>
        <a href="{% url 'comment_reply' comment.comment_id %}"> <i id="icon" class="fa-regular fa-comment action-icon"></i></a>
        </p> 
    </div>
  </div>