
        <div class="stats-container">
            <div class="stat-item">
                <span>{{posts|length}}</span>
                <span>Posts</span>
            </div>
            <div class="stat-item">
                <span>{{profile.followers.count}}</span>
                <span>Followers</span>
            </div>
            <div class="stat-item">
                <span>{{profile.followings.count}}</span>
                <span>Following</span>
            </div>
        </div>
    </div>

    <div class="profile-details">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        {% if profile.bio %}
        <p>{{profile.bio}}</p>
        {% endif %}
        {% if profile.location or profile.address %}
        <div class="secondary-details">
            {% if profile.location %}<span class="location-detail"><i class="fa-solid fa-map-marker-alt"></i> {{profile.location}}</span>{% endif %}
            {% if profile.address %}<span class="address-detail"><i class="fa-solid fa-location-dot"></i> {{profile.address}}</span>{% endif %}
        </div>
        {% endif %}
        <div class="contact-details">
             <div class="info-label">Email: <span>{{user.email}}</span></div>
             {% if user.profile.phone %}<div class="info-label">Phone: <span>{{user.profile.phone}}</span></div>{% endif %}
        </div>
    </div>

    <div class="action-buttons">
        {% if request.user == user %}
        <a href="{% url 'update_profile' user.username %}" class="action-button btn-secondary">
            Edit Profile
        </a>
        <button class="action-button btn-secondary btn-gear">
            <i class="fa-solid fa-user-gear"></i>
        </button>
        {% else %}
       <form 
        hx-get="{% url 'follow' user.username %}"
        hx-swap="innerHTML"
        hx-target="#follow_id-{{user.username}}">
    
        <button type="submit" class="action-button btn-secondary">
        {% if request.user in profile.followers.all %}
        Following    
        {% else %}      
        Follow
        {% endif %}
        </button>
        </form>
