{% for post in page_obj.object_list %}
    {% include 'snippet/post_list.html' with post=post %}
{% endfor %}
{% if page_obj.has_next %}
    <div id="load-more-container"
        hx-get="?page={{page_obj.next_page_number}}"
        hx-trigger="intersect once"
        hx-swap="outerHTML"
        hx-indicator="#loading-spinner">
        <p class="text-center text-muted">
            Scroll down to Load more ....
        </p>
        <div id="loading-spinner" 
            class="htmx-indicator text-center"
            style="display: none;">
            <i class="fa-solid fa-spinner fa-spn"></i> Loading
        </div>
    
    </div>
{% endif %}