
*{
    padding: 0;
margin: 0;
}
body {
height: 100hv;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f4f4f4;
color: #757575;
}
#header{
top: 0;
background: #f4f4f4;
display: flex;
position: fixed;
width: 100%;
z-index: 1;
}
#image{
margin: 10px;
}
#name{
margin-left: 5px;
padding-top: 25px;
font-size: 20px;
font-style: bold;
}


main {
top: 100px;
position: relative;
padding: 20px;
}

.favorites, .setup-save, .account-setup, .updates {
background-color: #fff;
margin-bottom: 20px;
padding: 20px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.favorites h2 {
margin: 0 0 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

.edit-favourites {
color: #d9534f;
cursor: pointer;
}

.favourites-items {
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}

.favourite-item {

text-align: center;
margin: 10px;
}
.favourite-item p{
font-size: 10px;
}
a:focus,a:active{
outline: none;
}
.favourite-item img{
height: 50px;
width: 50px;
}
.setup-save-content {
display: flex;
align-items: center;
}

.setup-save-content img {
margin-right: 20px;
}

.setup-save-content h3 {
margin: 0 0 10px;
}

.setup-save-content a {
color: #d9534f;
text-decoration: none;
}


.account-setup h2 {
margin: 0 0 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

.link-nin {
background-color: #f4f4f4;
padding: 10px;
border-radius: 4px;
}

.link-nin p {
margin: 0;
}

.link-nin a {
color: #d9534f;
text-decoration: none;
display: block;
margin-top: 10px;
}

